# Single-SPA Micro-Frontend Docker Compose Configuration

services:
  # Single-SPA Root Config - Main Orchestrator
  root-config:
    build:
      context: ./root-config
      dockerfile: Dockerfile
    depends_on:
      - angular-sspa
      - mfe-react-users
    ports:
      - "9000:9000"
    environment:
      MKPL_ROOT_CONFIG_URL: http://localhost:9000/marketplace-root-config.js
      MKPL_REACT_USERS_URL: http://localhost:4202/marketplace-mfe-react-users.js
      MKPL_HOME_URL: http://localhost:4201/main.js
      MKPL_NAVBAR_URL: http://localhost:9000/marketplace-root-config.js
      MKPL_FOOTER_URL: http://localhost:9000/marketplace-root-config.js
      MKPL_NOT_FOUND_URL: http://localhost:9000/marketplace-root-config.js
      MKPL_SHARED_UTIL_URL: http://localhost:4202/marketplace-mfe-react-users.js
    networks:
      - frontend-network

  # Angular SSPA MFE
  angular-sspa:
    build:
      context: ./AngularSSPA
      dockerfile: Dockerfile
    ports:
      - "4201:4201"
    environment:
      MKPL_API_URL: https://ec2-16-58-75-153.us-east-2.compute.amazonaws.com
 
    networks:
      - frontend-network

  # React Users MFE
  mfe-react-users:
    build:
      context: .
      dockerfile: ./mfe-react-users/Dockerfile
    ports:
      - "4202:4202"
    environment:
      MKPL_API_URL: https://ec2-16-58-75-153.us-east-2.compute.amazonaws.com
 
    networks:
      - frontend-network

networks:
  frontend-network:
    driver: bridge
