services:
  db:
    image: postgres
    container_name: marketplace
    environment:
      POSTGRES_USER: ${SHARED_DB_USER}
      POSTGRES_PASSWORD: ${SHARED_DB_PASSWORD}
      POSTGRES_DB: ${SHARED_DB_NAME}
    ports:
      - "${SHARED_DB_PORT}:5432"

  kafka:
    image: confluentinc/cp-kafka:latest
    hostname: kafka
    container_name: kafka
    ports:
      - "${KAFKA_PORT:-9092}:9092"
      - "${KAFKA_CONTROLLER_PORT:-9093}:9093"
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:${KAFKA_CONTROLLER_PORT:-9093}"
      # Single Listener on 9092
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_RETENTION_HOURS: 168
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      CLUSTER_ID: "Mk3OEYBSD34fcwNTJENDM2Qk"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/kafka:/var/lib/kafka/data
      - ./create-topics.sh:/create-topics.sh

  card-service:
    build: ./backend/card-service
    container_name: card-service
    ports:
      - "${CARD_SERVICE_PORT}:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${CARD_DB_HOST}:${CARD_DB_PORT}/${CARD_DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${CARD_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${CARD_DB_PASSWORD}
      # Kafka Configuration for Spring Boot
      # SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    depends_on:
      - db

  listing-service:
    build: ./backend/listing-service
    container_name: listing-service
    ports:
      - "${LISTING_SERVICE_PORT}:8082"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${SHARED_DB_NAME}
      DB_USERNAME: ${LISTING_DB_USER}
      DB_PASSWORD: ${LISTING_DB_PASSWORD}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_URI: http://eureka-server:8761/eureka
    depends_on:
      - db
      - kafka
      - eureka-server
