services:
  db:
    image: postgres
    container_name: marketplace
    environment:
      POSTGRES_USER: ${SHARED_DB_USER}
      POSTGRES_PASSWORD: ${SHARED_DB_PASSWORD}
      POSTGRES_DB: ${SHARED_DB_NAME}
    ports:
      - "${SHARED_DB_PORT}:5432"

  kafka:
    image: confluentinc/cp-kafka:latest
    hostname: kafka
    container_name: kafka
    ports:
      - "${KAFKA_PORT:-9092}:9092"
      - "${KAFKA_CONTROLLER_PORT:-9093}:9093"
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      # Single Listener on 9092
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_RETENTION_HOURS: 168
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      CLUSTER_ID: "Mk3OEYBSD34fcwNTJENDM2Qk"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/kafka:/var/lib/kafka/data
      - ./create-topics.sh:/create-topics.sh

  eureka-server:
    build:
      context: ./backend/eureka-server
      dockerfile: Dockerfile
    container_name: eureka-server
    ports:
      - "8761:8761"
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8761/eureka/apps" ]
      interval: 10s
      timeout: 5s
      retries: 5


  api-gateway:
    build:
      context: ./backend/api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    environment:
      SERVER_PORT: ${GATEWAY_PORT}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: ${EUREKA_URL:-http://eureka-server:8761/eureka/}
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:${GATEWAY_PORT}/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
      eureka-server:
        condition: service_healthy

  card-service:
    build: ./backend/card-service
    container_name: card-service
    ports:
      - "${CARD_SERVICE_PORT}:${CARD_SERVICE_PORT}"
    environment:
      SERVER_PORT: ${CARD_SERVICE_PORT}
      SPRING_DATASOURCE_URL: jdbc:postgresql://${CARD_DB_HOST}:${CARD_DB_PORT}/${CARD_DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${CARD_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${CARD_DB_PASSWORD}
      EUREKA_URI: ${EUREKA_URL:-http://eureka-server:8761/eureka/}
      # Kafka Configuration for Spring Boot
      # SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    depends_on:
      eureka-server:
        condition: service_healthy
      db:
        condition: service_started

  listing-service:
    build: ./backend/listing-service
    container_name: listing-service
    ports:
      - "${LISTING_SERVICE_PORT}:${LISTING_SERVICE_PORT}"
    environment:
      SERVER_PORT: ${LISTING_SERVICE_PORT}
      DB_HOST: ${LISTING_DB_HOST}
      DB_PORT: ${LISTING_DB_PORT}
      DB_NAME: ${LISTING_DB_NAME}
      DB_USERNAME: ${LISTING_DB_USER}
      DB_PASSWORD: ${LISTING_DB_PASSWORD}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_URI: http://eureka-server:8761/eureka
    depends_on:
      eureka-server:
        condition: service_healthy
      db:
        condition: service_started
      kafka:
        condition: service_started

  user-service:
    build: ./backend/user-service
    container_name: user-service
    ports:
      - "${USER_SERVICE_PORT}:${USER_SERVICE_PORT}"
    environment:
      SERVER_PORT: ${USER_SERVICE_PORT}
      SPRING_DATASOURCE_URL: jdbc:postgresql://${USER_DB_HOST}:${USER_DB_PORT}/${USER_DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${USER_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${USER_DB_PASSWORD}
      EUREKA_URI: http://eureka-server:8761/eureka
    depends_on:
      eureka-server:
        condition: service_healthy
      db:
        condition: service_started


  auth-service:
    build: ./backend/auth-service
    container_name: auth-service
    ports:
      - "${AUTH_SERVICE_PORT}:${AUTH_SERVICE_PORT}"
    environment:
      SERVER_PORT: ${AUTH_SERVICE_PORT}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
      EUREKA_URI: http://eureka-server:8761/eureka
    depends_on:
      eureka-server:
        condition: service_healthy
      db:
        condition: service_started

  trade-service:
    build: ./backend/trade-service
    container_name: trade-service
    ports:
      - "${TRADE_SERVICE_PORT}:${TRADE_SERVICE_PORT}"
    environment:
      SERVER_PORT: ${TRADE_SERVICE_PORT}
      DB_HOST: ${TRADE_DB_HOST}
      DB_PORT: ${TRADE_DB_PORT}
      DB_NAME: ${TRADE_DB_NAME}
      DB_USERNAME: ${TRADE_DB_USER}
      DB_PASSWORD: ${TRADE_DB_PASSWORD}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_URI: http://eureka-server:8761/eureka
    depends_on:
      eureka-server:
        condition: service_healthy
      db:
        condition: service_started
      kafka:
        condition: service_started

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.11.1
    container_name: filebeat
    user: root
    command: filebeat -e -strict.perms=false
    volumes:
      # Docker logs
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

      # Filebeat config
      - ./backend/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
    restart: unless-stopped

  root-config:
    build: ./frontend/root-config
    container_name: root-config
    depends_on:
      - angular-sspa
      - react-users
    ports:
      - ${ROOT_CONFIG_PORT}:9000
    environment:
      MKPL_ROOT_CONFIG_URL: http://localhost:${ROOT_CONFIG_PORT}/marketplace-root-config.js
      MKPL_REACT_USERS_URL: http://localhost:${REACT_USERS_PORT}/marketplace-mfe-react-users.js
      MKPL_HOME_URL: http://localhost:${ANGULAR_SSPA_PORT}/main.js
      MKPL_NAVBAR_URL: http://localhost:${ROOT_CONFIG_PORT}/marketplace-root-config.js
      MKPL_FOOTER_URL: http://localhost:${ROOT_CONFIG_PORT}/marketplace-root-config.js
      MKPL_NOT_FOUND_URL: http://localhost:${ROOT_CONFIG_PORT}/marketplace-root-config.js
      MKPL_SHARED_UTIL_URL: http://localhost:${REACT_USERS_PORT}/marketplace-mfe-react-users.js
  
  angular-sspa:
    build: ./frontend/AngularSSPA
    container_name: angular-sspa
    ports:
      - ${ANGULAR_SSPA_PORT}:4201
    environment:
      MKPL_API_URL: http://localhost:${GATEWAY_PORT}
  
  react-users:
    build:
      context: ./frontend
      dockerfile: ./mfe-react-users/Dockerfile
    container_name: react-users
    ports:
      - ${REACT_USERS_PORT}:4202
    environment:
      MKPL_API_URL: http://localhost:${GATEWAY_PORT}