# https://plugins.jenkins.io/configuration-as-code/
# Only putting some segments from `just jc export-configuration` here.
# Everything else can have default values.
#
# Putting credentials using encrypted text is NOT portable.
# https://github.com/jenkinsci/configuration-as-code-plugin/issues/1141
#
# We can still pass in credentials using other ways, such as secrets
# https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/features/secrets.adoc#docker-secrets

jenkins:
  securityRealm:
    local:
      users:
        - id: ${jenkins_username}
          name: "admin"
          password: ${jenkins_password}
unclassified:
  buildDiscarders:
    configuredBuildDiscarders:
      - "jobBuildDiscarder"
      - defaultBuildDiscarder:
          discarder:
            logRotator:
              artifactDaysToKeepStr: "30"
              artifactNumToKeepStr: "1"
              daysToKeepStr: "50"
              numToKeepStr: "10"
  globalLibraries:
    libraries:
      - name: "primary"
        retriever:
          modernSCM:
            libraryPath: ".jenkins/shared-lib/primary/"
            scm:
              gitSource:
                credentialsId: "github-app-team"
                remote: "https://github.com/251027-Java/P3-Group2"
                traits:
                  - "gitBranchDiscovery"
tool:
  jdk:
    installations:
      - name: "java25"
        properties:
          - installSource:
              installers:
                - adoptOpenJdkInstaller:
                    id: "jdk-25.0.1+8"
  maven:
    installations:
      - name: "maven3"
        properties:
          - installSource:
              installers:
                - maven:
                    id: "3.9.12"
credentials:
  system:
    domainCredentials:
      - credentials:
          - gitHubApp:
              appID: ${github_app_team_id}
              description: "GitHub App Team"
              id: "github-app-team"
              privateKey: ${github_app_team_key}
              repositoryAccessStrategy:
                specificRepositories: {}
          - usernamePassword:
              description: "Docker Hub credentials"
              id: "docker-hub-cred"
              password: ${docker_hub_token}
              username: ${docker_hub_username}
              usernameSecret: true
          - file:
              description: "Primary kubeconfig"
              fileName: "kubeconfig"
              id: "kubeconfig"
              secretBytes: ${kubeconfig}
        domain: {}

# https://github.com/jenkinsci/job-dsl-plugin/wiki/JCasC
# Job DSL API (general) - https://jenkinsci.github.io/job-dsl-plugin/
# More specific Job DSL API catered to your installed plugins: <jenkins-url>/plugin/job-dsl/api-viewer/index.html
jobs:
  - script: >
      multibranchPipelineJob('primary') {
        branchSources {
          branchSource {
            source {
              github {
                id('primary-github')
                credentialsId('github-app-team')
                configuredByUrl(true)
                repoOwner('251027-Java')
                repository('P3-Group2')
                repositoryUrl('https://github.com/251027-Java/P3-Group2')
                traits {
                  gitHubPullRequestDiscovery {
                    strategyId(2)
                  }
                  gitHubBranchDiscovery {
                    strategyId(1)
                  }
                }
              }
            }
          }
          orphanedItemStrategy {
            discardOldItems {
              numToKeep(10)
            }
          }
          factory {
            workflowBranchProjectFactory {
              scriptPath('jenkinsfiles/random-service.Jenkinsfile')
            }
          }
        }
      }
  - script: >
      pipelineJob('image') {
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  credentials('github-app-team')
                  url('https://github.com/251027-Java/P3-Group2')
                }
                branches('main')
              }
            }
            scriptPath('.jenkins/jobs/Jenkinsfile.image')
            lightweight(true)
          }
        }
      }
