# Jenkins login information
jenkins_username=
jenkins_password=

# https://github.com/settings/apps or your org's github apps
# For the Jenkins Checks API plugin and general auth 
github_app_team_id=

# Docker hub credentials
docker_hub_username=
docker_hub_token=
