# WARNING: Using the '$' character within values needs to be escaped in order to be correctly
# interpretted within a justfile.
# 
# Example: if you want the value "secret$password", it needs to be "secret\$password"
# 
# I tried searching through https://github.com/casey/just/issues to see if there was an
# alternative solution or anyone having a similar issue, but I having difficulty searching
# and couldn't find anything related.

JENKINS_CLI=jenkins-cli.jar
JENKINS_PRIMARY_STORE=system::system::jenkins
JENKINS_PRIMARY_DOMAIN=_
JENKINS_CONTAINER=jenkins-jenkins-1
JENKINS_AGENT_PORT=50000

JENKINS_PROTOCOL=http
JENKINS_HOST=localhost
JENKINS_PORT=8080

# Create a token at ${JENKINS_URL}/user/${JENKINS_USER}/security
JENKINS_API_TOKEN=

# The host port for docker-in-docker
JDOCKER_PORT=2376

# Optional: Set this value if you want a consistent subdomain when setting up tunneling,
# otherwise, this can be left as is
TUNNEL_SUBDOMAIN=

# If you need to run commands with sudo, assign this variable to 1. Any other value or leaving
# it empty will NOT run commands with sudo. 
SUDO=

# For `just update-files`. Helps with updating the files in the current directory with
# the files of the specified folder of the specified repository.
# This is useful for when we don't have an underlying repository to use `git pull`
# like maybe for a prod environment.
GITSNIP_REPO=https://github.com/251027-Java/P3-Group2
GITSNIP_FOLDER=.jenkins
